<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#apply()" data-toc-modified-id="apply()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><code>apply()</code></a></span><ul class="toc-item"><li><span><a href="#쯈u칠-es-un-apply?" data-toc-modified-id="쯈u칠-es-un-apply?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>쯈u칠 es un <code>apply</code>?</a></span></li><li><span><a href="#Uso-de-apply" data-toc-modified-id="Uso-de-apply-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Uso de apply</a></span></li></ul></li><li><span><a href="#ExcelWriter()" data-toc-modified-id="ExcelWriter()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>ExcelWriter()</code></a></span></li><li><span><a href="#Escritura-secuencial-de-datos-con-bucles-for" data-toc-modified-id="Escritura-secuencial-de-datos-con-bucles-for-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Escritura secuencial de datos con bucles <em>for</em></a></span></li></ul></div>

In [4]:
# importamos todas las librer칤as que necesitamos

import pandas as pd
pd.options.display.max_columns = None

## `apply()`

### 쯈u칠 es un `apply`? 

En el caso de que necesitemos aplicar una misma funci칩n a las filas o columnas de un objeto DataFrame de Pandas contamos con el m칠todo `apply()`. Con 칠l es posible aplicar funciones (tanto creadas por nosotras como las *built-in functions* de Python) a los conjuntos de datos. Esto hace que sea un m칠todo interesante de conocer y, cuando se comprende bien su funcionamiento, permite realizar operaciones complejas de forma eficiente. Por eso en esta entrada vamos a ver c칩mo aplicar una funci칩n a las filas o columnas de un DataFrame con `apply()`. 

La funci칩n `apply` de Pandas DataFrame toma una funci칩n como argumento y la aplica a lo largo de un eje del DataFrame.

Basicamente lo que va a hacer este m칠todo es ir celda a celda de la columna que especifiquemos y le aplicara a los valores de la celda la funci칩n que le indiquemos.

In [5]:
# Como hasta ahora en este jupyter trabajaremos con el dataset de Marketing que usamos en la lecci칩n de filtrado

df = pd.read_csv("files/Marketing-Customer-Analysis.csv")
df.head(1)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize

In [6]:
# vamos a homogeneizar los nombres de las columnas

nuevas_columnas = {col: col.lower().replace(" ", "_") for col in df.columns}
df.rename(columns = nuevas_columnas, inplace = True)
df.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize

### Uso de apply

In [7]:
# Lo primero que vamos a hacer es crearnos una copia de nuestro DataFrame sobre el que trabajaremos. 

df_copia = df.copy()
df_copia.head(2)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

Para entender el `apply` en este jupyter trabajaremos con la columna de `effective_to_date`. Lo que haremos ser치 crear una funci칩n que nos separe la fecha en a침o y mes. Con esto crearemos dos columnas, una la llamaremos "a침o" y otra "mes".

In [8]:
def sacar_mes(fecha):
    return fecha.split("/")[0]

In [9]:
#creemos la funci칩n para sacar el a침o

def sacar_a침o(x):
    '''
    Funci칩n que recibe una fecha y extrae el a침o
    
    Args: 
        x(str): cada fecha que tenemos en nuestro dataframe
    Returns: 
        el a침o en formato string
    '''
    return x.split("/")[2]

def sacar_mes(x):
    '''
    Funci칩n que recibe una fecha y extrae el mes
    
    Args: 
        x(str): cada fecha que tenemos en nuestro dataframe
    Returns: 
        el mes en formato string
    '''
    return x.split("/")[0]

In [10]:
df_copia["a침o"] = (df_copia["effective_to_date"].apply(sacar_a침o))
df_copia["mes"] = (df_copia["effective_to_date"].apply(sacar_mes))

In [11]:
# si nos fijamos ahora tenemos dos columnas nuevas, "a침o" y "mes"

df_copia.head(2)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,a침o,mes
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,11,2
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,11,1

Esta misma operaci칩n la podemos hacer con la librer칤a `datetime`. Exploremosla un poco.

In [12]:
# lo primero que tenemos que hacer es importarla
import datetime

In [13]:
# para trabajar con esta librer칤a lo primero que tenemos que hacer es convertir el tipo de la
# columna "effective_to_date" a formato datetime. Para eso usaremos un apply

df_copia["effective_to_date"] = df_copia["effective_to_date"].apply(pd.to_datetime)
df_copia.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,a침o,mes
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,11,2

In [14]:
# dentro de esta librer칤a tenemos much칤simas funcionalidades. Entre ellas, tenemos el m칠todo "strftime" que nos va a 
# permitir extraer el a침o, el mes o el d칤a en distintos formatos. 

def sacar_a침o2(x):
    return x.strftime("%Y")

def sacar_mes2(x):
    return x.strftime("%B")

In [15]:

df_copia["mes2"] = df_copia["effective_to_date"].apply(sacar_mes2)

In [16]:
# si nos fijamos ahora tenemos una columna nueva con el a침o (a침o2) y otra con el mes completo en letras (mes2)

df_copia.sample(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,a침o,mes,mes2
5636,MZ85889,California,5421.524497,No,Basic,Master,2011-02-26,Employed,F,25778,Rural,Divorced,68,29,34,0,3,Corporate Auto,Corporate L2,Offer2,Call Center,20.141289,Two-Door Car,Large,11,2,February

游늷 M치s informaci칩n sobre esta librer칤a [aqu칤](https://docs.python.org/3/library/datetime.html).

**쯈u칠 pasa si queremos usar una funci칩n que recibe dos par치metros?** 

En este caso, la cosa se va a complicar un poquito m치s, ya que tendremos que usar una `lambda` para usar el `apply`. Aqu칤 no vamos a profundizar m치s en la `lambda`, ya que nos queremos centrar en el `apply` en s칤.

Imaginemos ahora que queremos saber la media del dinero que se han llevado los clientes por cada reclamaci칩n que tienen. Para esto, tendremos en cuenta el dinero que ha recibido cada cliente en sus reclamaciones (`total_claim_amount`) y el n칰mero de reclamaciones que puso (`number_of_open_complaints`). Lo que tendremos que hacer es una divisi칩n de esas dos columnas.

In [17]:
def media_reclamaciones (dinero, reclamaciones):
    '''
    Esta funci칩n calcula la media de dinero que se lleva cada cliente por reclamaci칩n.
    Args: 
        dinero (int o float): el dinero que ha recibido cada cliente en sus reclamaciones
        reclamaciones (int): el n칰mero de reclamaciones que se ha puesto el cliente
    Returns: 
        Int o float con la media de dinero por reclamaci칩n. 
    '''
    # en este caso tendr칠 que hacer un try except porque puede que haya alg칰n cliente que no haya puesto ninguna reclamaci칩n
    try: 
        return dinero/reclamaciones
    except: 
        return "no puso ninguna reclamaci칩n"

In [18]:
df_copia.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,a침o,mes,mes2
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,11,2,February
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,11,1,January
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,11,2,February
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,11,1,January
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,11,2,February

In [19]:
df_copia["media_reclamaciones"] = df_copia.apply(lambda pepe: media_reclamaciones( # en este caso, no especificamos el nombre de la columna, haremos el apply sobre todo el dataframe. Dentro del apply iniciamos el lambda que recibir치 unos datos. En este caso todo el dataframe 
                                        pepe['total_claim_amount'], pepe['number_of_open_complaints']), # especificamos las columnas sobre las que queremos aplicar el apply
                                        axis = 1) # especificamos es el eje 1 ya que estamos trabajando con columnas.

In [20]:
df_copia.sample(6)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,a침o,mes,mes2,media_reclamaciones
830,WI69346,California,8960.280213,No,Basic,Master,2011-01-17,Employed,F,71943,Urban,Single,112,8,51,0,4,Corporate Auto,Corporate L2,Offer3,Agent,305.653785,SUV,Medsize,11,1,January,no puso ninguna reclamaci칩n
2011,IB41597,California,11014.163600,No,Extended,College,2011-02-12,Employed,F,67575,Urban,Married,91,27,85,0,2,Personal Auto,Personal L3,Offer1,Agent,401.607810,Four-Door Car,Medsize,11,2,February,no puso ninguna reclamaci칩n
5709,JV38934,Washington,2254.402024,No,Basic,Bachelor,2011-01-02,Unemployed,F,0,Suburban,Single,65,3,95,1,1,Personal Auto,Personal L3,Offer1,Branch,768.797656,Four-Door Car,Medsize,11,1,January,768.797656
5430,QC93181,California,25464.820590,Yes,Extended,College,2011-02-01,Retired,F,13663,Suburban,Single,97,1,66,0,2,Corporate Auto,Corporate L1,Offer1,Branch,465.600000,Four-Door Car,Small,11,2,February,no puso ninguna reclamaci칩n
149,EK59571,Oregon,3885.456401,Yes,Premium,College,2011-02-28,Unemployed,M,0,Suburban,Married,105,3,92,0,1,Corporate Auto,Corporate L2,Offer1,Branch,504.000000,Four-Door Car,Large,11,2,February,no puso ninguna reclamaci칩n
1642,IF87079,Arizona,5801.128252,No,Basic,Master,2011-02-14,Employed,F,48927,Rural,Divorced,72,1,51,0,9,Personal Auto,Personal L2,Offer1,Agent,139.354893,Four-Door Car,Medsize,11,2,February,no puso ninguna reclamaci칩n

## `ExcelWriter()`

Nos va a permitir escribir *DataFrames* en hojas de Excel.

In [21]:
with pd.ExcelWriter("datos/marketing.xlsx") as writer: # donde queremos guardar el excel
    df.to_excel(writer, sheet_name="sucio")  # el dataframe que queremos guardar y como queremos que se llame la hoja de excel
    df_copia.to_excel(writer, sheet_name="limpio") # el dataframe y como queremos que se llame la hoja de excel

KeyboardInterrupt:

## Escritura secuencial de datos con bucles `for`

En este apartado lo que haremos ser치 realizar varios `groupby` con los que sacaremos la media, la desviaci칩n est치ndar y la mediana de cada uno de los grupos para las columnas de `customer_lifetime_value` y `number_of_policies`. 

Para hacer esto haremos un *for loop* y despu칠s lo almacenaremos todo en un Excel, donde cada agrupaci칩n se guarde en una hoja diferente.

In [22]:
df_copia.columns

In [23]:
# lo primero que hacemos es definir los distintos grupos que vamos a querer definir. 
grupo_clientes1 = ['policy_type','vehicle_size']
grupo_clientes2 = ['state','employmentstatus', 'coverage']

valores = ['customer_lifetime_value', 'number_of_policies' ] # las columnas sobre las que queremos aplicar las operaciones en el groupy

In [24]:
df.groupby(["policy_type", "state"])["customer_lifetime_value"].mean()
df.groupby(["police_type", "emplymentstatus"])["customer_lifetime_value"].mean()

KeyError: 'police_type'

Lo que vamos a querer es hacer muchos `groupby`s un 칰nico *for loop*, esto nos va a permitir sacar todas las combinaciones de `groupby` entre la lista de `grupo_clientes1` y `grupo_clientes2`. 

Es decir: 

* policy_type vs state
* policy_type vs employmentstatus
* policy_type vs coverage

y

* vehicle_size vs state
* vehicle_size vs employmentstatus
* vehicle_size vs coverage

Adem치s vamos a querer calcular la media, mediana y std para dos variables num칠ricas. Estas son las que est치n en la lista de `valores`. 

Visto en c칩digo querremos: 

```python
df.groupby(["police_type", "state"])["customer_lifetime_value"].mean()
df.groupby(["police_type", "emplymentstatus"])["customer_lifetime_value"].median()
df.groupby(["police_type", "emplymentstatus"])["customer_lifetime_value"].std()

df.groupby(["police_type", "state"])["number_of_policies"].mean()
df.groupby(["police_type", "state"])["number_of_policies"].median()
df.groupby(["police_type", "emplymentstatus"])["number_of_policies"].std()

# y as칤 para todas las posibles combinaciones de las listas grupo_clientes1 y grupo_clientes2

# Pero recordemos que si en un groupby queremos calcular varios estad칤sticos deberemos usar el m칠todo agg. Por lo que podr칤amos reducir un poco el c칩digo anterior a la siguiente forma 
df.groupby(["policy_type", "state"])['customer_lifetime_value'].agg(["mean", 'std', 'median'])

# si a esto le a침adimos un reset_index() nos devolver치 un dataframe
(df.groupby(["policy_type", "state"])['customer_lifetime_value'].agg(["mean", 'std', 'median'])).reset_index()
```

In [ ]:
(df.groupby(["policy_type", "state"])['customer_lifetime_value'].agg(["mean", 'std', 'median'])).reset_index()

       policy_type       state         mean          std       median
0   Corporate Auto     Arizona  7392.569473  5510.035196  5595.389905
1   Corporate Auto  California  7937.594946  6579.227598  5845.426201
2   Corporate Auto      Nevada  8167.364587  7570.930571  5585.308070
3   Corporate Auto      Oregon  7801.438871  6167.479891  5908.405832
4   Corporate Auto  Washington  7737.494504  5788.032153  5838.899150
5    Personal Auto     Arizona  7950.810246  6949.475829  5846.520588
6    Personal Auto  California  8003.353899  6780.652997  5865.829185
7    Personal Auto      Nevada  7997.500551  6948.655807  5589.042801
8    Personal Auto      Oregon  8113.089990  7102.883227  5865.225364
9    Personal Auto  Washington  8039.703473  7750.420702  5384.671725
10    Special Auto     Arizona  8386.250315  7161.118262  6236.018595
11    Special Auto  California  8441.597479  6597.006699  6599.081932
12    Special Auto      Nevada  8543.113669  7165.333922  6714.070698
13    Special Auto      Oregon  8737.200053  6888.129162  6382.047596
14    Special Auto  Washington  9176.608341  8195.442326  5346.981577

In [ ]:
todos_resultados = [] # creamos una lista donde iremos guardando "todos los resultados de los groupby" que ser치n nuestros distintos dataframes

# 游뚿游뚿 Recordemos que en una lista podemos almacenar cualquier cosa, diccionarios, m치s listas, DataFrames, etc. 游뚿游뚿

print("Todas las combinaciones que nos salen de este triple for son: ") #  hacemos un print para ver todas las posibles combinaciones entre nuestros grupos
for g1 in grupo_clientes1: # iteramos por el primer grupo
    for g2 in grupo_clientes2: # iteramos por el segundo grupo 
        for val in valores: #iteramos por las columnas sobre las que queremos calcular los estad칤sticos
            print(g1, "-->", g2, '-->', val) # sacamos todas las combinaciones
            resultado = (df.groupby([g1, g2])[val].agg(["mean", 'std', 'median'])).reset_index() # hacemos el groupby y lo convertimos a dataframe
            todos_resultados.append(resultado) # apendemos los resultados del groupby en la lista vac칤a que creamos al inicio

Todas las combinaciones que nos salen de este triple for son:
policy_type --> state --> customer_lifetime_value
policy_type --> state --> number_of_policies
policy_type --> employmentstatus --> customer_lifetime_value
policy_type --> employmentstatus --> number_of_policies
policy_type --> coverage --> customer_lifetime_value
policy_type --> coverage --> number_of_policies
vehicle_size --> state --> customer_lifetime_value
vehicle_size --> state --> number_of_policies
vehicle_size --> employmentstatus --> customer_lifetime_value
vehicle_size --> employmentstatus --> number_of_policies
vehicle_size --> coverage --> customer_lifetime_value
vehicle_size --> coverage --> number_of_policies

In [ ]:
len(todos_resultados)

12

In [ ]:
# vemos que los elementos de la lista son cada uno de los DataFrames

todos_resultados[11]

  vehicle_size  coverage      mean       std  median
0        Large     Basic  2.769366  2.336274     2.0
1        Large  Extended  2.845902  2.404599     2.0
2        Large   Premium  3.123288  2.728172     2.0
3      Medsize     Basic  2.998211  2.406470     2.0
4      Medsize  Extended  2.977047  2.412237     2.0
5      Medsize   Premium  2.821849  2.341658     2.0
6        Small     Basic  3.057904  2.344983     2.0
7        Small  Extended  2.932692  2.316334     2.0
8        Small   Premium  2.929487  2.431281     2.0

Hasta aqu칤 tenemos todos los resultados del groupby almacenados en la lista `todos_resultados`. Lo siguiente que tenemos que hacer es iterar por esta lista e ir guard치ndolos en el excel.

In [25]:
# creamos una lista con los nombres que queremos asignar a cada una de las hojas de nuestro excel

nombres = ['policy-state-lifetime', 'policy-state-number', 
           'policy-employment-lifetime', 'policy-employment-number', 
          'policy-coverage-lifetime', 'policy-coverage-number', 
          'size-state-lifetime', 'size-state-number', 
          'size-employment-lifetime', 'size-employment-number', 
          'size-coverage-lifetime', 'size-coverage-number']

In [26]:
# iteramos por la lista de resultados para acceder a cada una de las agrupaciones y poder guardarlas en el excel: 
from pandas import ExcelWriter

w = ExcelWriter("datos/Agrupaciones.xlsx") # iniciamos la creaci칩n del excel desde pandas

for resultado in range(len(todos_resultados)): # iteramos por la lista de resultados (cada iterable ser치 un DataFrame) 
    todos_resultados[resultado].to_excel(w, sheet_name=nombres[resultado]) # vamos creando tantas hojas de excel como elementos (DataFrames) tenemos en nuestra lista 
w.save() # lo guardamos todo

NameError: name 'todos_resultados' is not defined

## EJERCICIOS

Usando el mismo DataFrame de titanic que usamos ayer:

1勇 Carga el dataset

> **Hint** Antes de ponernos manos a la obra **explorar** bien el dataset con los m칠todos aprendidos en las lecciones anteriores. Tenemos nulos?, qu칠 valores 칰nicos tenemos?, qu칠 tipo de datos tenemos?, etc. 

Crea una copia nueva del DataFrame donde realicemos todos los cambios que os pedimos en el ejercicio. 

2勇 Crea una funci칩n que usando la columna `name` nos cree una columna nueva que nos diga si el pasajero era Miss, Mister, Mrs, etc. 

3勇 La columna `survived` est치 con valores num칠ricos. Convierte los `1` a `'Si'` y los `0` a `'No'`.

4勇  Guarda en un excel el DataFrame resultante en una hoja y en otra el orginal.

In [27]:
titanic = pd.read_csv('./files/titanic.csv')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [28]:
columnas = titanic.columns

In [ ]:
for col in columnas:
    print(col, '--> ', titanic[col].isnull().sum())
    print ('----------------------------------------------------------------')

pclass -->  1
----------------------------------------------------------------
survived -->  1
----------------------------------------------------------------
name -->  1
----------------------------------------------------------------
sex -->  1
----------------------------------------------------------------
age -->  264
----------------------------------------------------------------
sibsp -->  1
----------------------------------------------------------------
parch -->  1
----------------------------------------------------------------
ticket -->  1
----------------------------------------------------------------
fare -->  2
----------------------------------------------------------------
cabin -->  1015
----------------------------------------------------------------
embarked -->  3
----------------------------------------------------------------
boat -->  824
----------------------------------------------------------------
body -->  1189
----------------------------------------------------------------
home.dest -->  565
----------------------------------------------------------------

In [ ]:
for col in columnas:
    print(col, '--> ', titanic[col].value_counts)
    print ('----------------------------------------------------------------')

pclass -->  <bound method IndexOpsMixin.value_counts of 0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1305    3.0
1306    3.0
1307    3.0
1308    3.0
1309    NaN
Name: pclass, Length: 1310, dtype: float64>
----------------------------------------------------------------
survived -->  <bound method IndexOpsMixin.value_counts of 0       1.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
1305    0.0
1306    0.0
1307    0.0
1308    0.0
1309    NaN
Name: survived, Length: 1310, dtype: float64>
----------------------------------------------------------------
name -->  <bound method IndexOpsMixin.value_counts of 0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
1309                                                NaN
Name: name, Length: 1310, dtype: object>
----------------------------------------------------------------
sex -->  <bound method IndexOpsMixin.value_counts of 0       female
1         male
2       female
3         male
4       female
         ...
1305    female
1306      male
1307      male
1308      male
1309       NaN
Name: sex, Length: 1310, dtype: object>
----------------------------------------------------------------
age -->  <bound method IndexOpsMixin.value_counts of 0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
1309        NaN
Name: age, Length: 1310, dtype: float64>
----------------------------------------------------------------
sibsp -->  <bound method IndexOpsMixin.value_counts of 0       0.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1305    1.0
1306    0.0
1307    0.0
1308    0.0
1309    NaN
Name: sibsp, Length: 1310, dtype: float64>
----------------------------------------------------------------
parch -->  <bound method IndexOpsMixin.value_counts of 0       0.0
1       2.0
2       2.0
3       2.0
4       2.0
       ...
1305    0.0
1306    0.0
1307    0.0
1308    0.0
1309    NaN
Name: parch, Length: 1310, dtype: float64>
----------------------------------------------------------------
ticket -->  <bound method IndexOpsMixin.value_counts of 0        24160
1       113781
2       113781
3       113781
4       113781
         ...
1305      2665
1306      2656
1307      2670
1308    315082
1309       NaN
Name: ticket, Length: 1310, dtype: object>
----------------------------------------------------------------
fare -->  <bound method IndexOpsMixin.value_counts of 0       211.3375
1       151.5500
2       151.5500
3       151.5500
4       151.5500
          ...
1305     14.4542
1306      7.2250
1307      7.2250
1308      7.8750
1309         NaN
Name: fare, Length: 1310, dtype: float64>
----------------------------------------------------------------
cabin -->  <bound method IndexOpsMixin.value_counts of 0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1305        NaN
1306        NaN
1307        NaN
1308        NaN
1309        NaN
Name: cabin, Length: 1310, dtype: object>
----------------------------------------------------------------
embarked -->  <bound method IndexOpsMixin.value_counts of 0         S
1         S
2         S
3         S
4         S
       ...
1305      C
1306      C
1307      C
1308      S
1309    NaN
Name: embarked, Length: 1310, dtype: object>
----------------------------------------------------------------
boat -->  <bound method IndexOpsMixin.value_counts of 0         2
1        11
2       NaN
3       NaN
4       NaN
       ...
1305    NaN
1306    NaN
1307    NaN
1308    NaN
1309    NaN
Name: boat, Length: 1310, dtype: object>
----------------------------------------------------------------
body -->  <bound method IndexOpsMixin.value_counts of 0         NaN
1         NaN
2         NaN
3       135.0
4         NaN
        ...
1305      NaN
1306    304.0
1307      NaN
1308      NaN
1309      NaN
Name: body, Length: 1310, dtype: float64>
----------------------------------------------------------------
home.dest -->  <bound method IndexOpsMixin.value_counts of 0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1305                                NaN
1306                                NaN
1307                                NaN
1308                                NaN
1309                                NaN
Name: home.dest, Length: 1310, dtype: object>
----------------------------------------------------------------

In [37]:
titanic_copia = titanic.copy()

2勇 Crea una funci칩n que usando la columna `name` nos cree una columna nueva que nos diga si el pasajero era Miss, Mister, Mrs, etc.

In [29]:
import re

In [77]:
name = 'Mrs. Martin (Elizabeth L.'

In [88]:
patron ='.*,\s([A-Z].+\.)\s.+ | (M.+\.)\s.+ '

In [89]:
re.findall(patron, name)

[]

In [69]:
def titulo (col):
    try:
        titulo = re.findall(patron, col)
        return titulo[0]
    except:
        return col

In [90]:
fecha1 = '30-Jul-1944'
fecha2 = 'Reported May-28-1898'

In [105]:
patron = '.*(\w{3})-.'

In [107]:
re.findall(patron, fecha2)

['May']

In [70]:
titanic_copia["titulo"] = titanic_copia["name"].apply(titulo)

In [71]:
titanic_copia['titulo'].value_counts()

Mr.                                                         757
Miss.                                                       260
Mrs.                                                        196
Master.                                                      61
Rev.                                                          8
Dr.                                                           8
Col.                                                          4
Mlle.                                                         2
Ms.                                                           2
Major.                                                        2
Capt.                                                         1
Sir.                                                          1
Dona.                                                         1
Jonkheer.                                                     1
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)      1
Mrs. Martin (Elizabeth L.                                     1
Don.                                                          1
Mme.                                                          1
Lady.                                                         1
Name: titulo, dtype: int64


3勇 La columna `survived` est치 con valores num칠ricos. Convierte los `1` a `'Si'` y los `0` a `'No'`.

In [ ]:
def survived (x):
    try: 
        if x == 1:
            x = 'Si'
        else:
            x ='No'
    except: 
        return "no se indica"

In [ ]:
titanic_copia["survived"] = titanic_copia["survived"].apply(survived)

In [ ]:
titanic_copia

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,None,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,None,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,None,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,None,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,None,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,None,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,None,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,None,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,None,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

4勇  Guarda en un excel el DataFrame resultante en una hoja y en otra el orginal.