<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Carga-de-datos" data-toc-modified-id="Carga-de-datos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Carga de datos</a></span><ul class="toc-item"><li><span><a href="#pd.read_csv()" data-toc-modified-id="pd.read_csv()-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>pd.read_csv()</code></a></span></li><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><code>pd.read_excel()</code></a></span></li><li><span><a href="#pd.read_json()" data-toc-modified-id="pd.read_json()-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><code>pd.read_json()</code></a></span></li><li><span><a href="#pd.read_clipboard()" data-toc-modified-id="pd.read_clipboard()-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><code>pd.read_clipboard()</code></a></span></li><li><span><a href="#pd.read_pickle()" data-toc-modified-id="pd.read_pickle()-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span><code>pd.read_pickle()</code></a></span></li><li><span><a href="#pd.read_parquet()" data-toc-modified-id="pd.read_parquet()-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span><code>pd.read_parquet()</code></a></span></li><li><span><a href="#pd.read_sas()" data-toc-modified-id="pd.read_sas()-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span><code>pd.read_sas()</code></a></span></li><li><span><a href="#pd.read_spss()" data-toc-modified-id="pd.read_spss()-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span><code>pd.read_spss()</code></a></span></li></ul></li><li><span><a href="#üìå-Nota-importante-al-leer-archivos:" data-toc-modified-id="üìå-Nota-importante-al-leer-archivos:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>üìå Nota importante al leer archivos</a></span></li><li><span><a href="#Guardado-de-datos" data-toc-modified-id="Guardado-de-datos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Guardado de datos</a></span></li></ul></div>

Pandas nos va a permitir leer una gran multitud de ficheros con los que podremos trabajar con los m√©todos que aprenderemos en las pr√≥ximas sesiones. En este jupyter vamos a ver algunos de los m√°s usados: 

- csv
- excel
- json
- clipboard
- parquet
- pickle
- sql
- sas
- spss

In [1]:
# pero antes de empezar ya sabeis, a importar las librer√≠as que necesitaremos!!

import pandas as pd
import numpy as np
import pickle

üö®üö®üö® **NOTA** importante antes de seguir con esta lecci√≥n. Algunos de los ficheros que necesitaremos para la lecci√≥n de hoy son muy pesados y es imposible compartirlos con vosotras por GitBook. En concreto estos datos ser√°n: 

- 10M.pkl

- 10M.csv

- 10M.parquet

- airlines.sas7bdat

Estos ficheros los podr√©is descargar del [este](https://drive.google.com/drive/folders/1vTvA743_9OjvIk9SX6pdTfhwijGBXlKz) link.

# Carga de datos

## `pd.read_csv()` 

CSV es el acr√≥nimo de *Comma Separated Values* y significa valores separados por comas. De esta forma, un archivo CSV es cualquier archivo de texto en el cual los caracteres (en nuestro caso las columnas) est√°n separadas por comas.

In [2]:
df_csv = pd.read_csv("files/jobs.csv")
df_csv.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, M√©xico, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definici√≥n indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuaci√≥n:

In [3]:
df_csv2 = pd.read_csv("files/aire.csv")
df_csv2.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas est√°n separadas por `;`. ¬øC√≥mo podemos solucionar esto? 

> Usando el par√°metro `sep` de `pd.read_csv` donde tendremos que especificar por qu√© est√°n separadas mis columnas.

In [4]:
# en este caso esta separado por ; 

df_csv2_1 = pd.read_csv("files/aire.csv", sep = ";")
df_csv2_1.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

En este caso abriremos ficheros con extensiones `xls` o `xlsx`. Estos son los documentos de salida de una hoja de c√°lculo de Excel. 

Los archivos de Excel pueden tener dos extensiones `xls` o `xlsx`, que un archivo tenga una extensi√≥n u otra depende de la versi√≥n de Excel. Versiones anteriores al 2007 ser√°n `xls` y posteriores ser√°n `xlsx`. 

Independientemente de la extensi√≥n, todos archivos de tipo Excel se abren en Pandas con el m√©todo `pd.read_excel`.

In [5]:
df_xlsx = pd.read_excel("files/espacios_protegidos.xlsx")
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los r√≠os Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los r√≠...
1,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rinc√≥n,15231.000,2005-06-29,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rinc√≥n
2,√Åreas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Pe√±alara,487.198,2005-12-16,Normativa √Åreas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Soto de Vi√±uelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

üö®‚ö†Ô∏è **SI OS SALE UN ERROR SIMILAR A ESTE:**

```
ImportError: Missing optional dependency 'openpyxl'. Use pip or conda to install openpyxl.
```

**DON'T PANIC!!!** Lo √∫nico que tendre√≠s que hacer es importaros `openpyxl`. ¬øC√≥mo? 

- Nos vamos a la terminal y ejecutamos el siguiente c√≥digo: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

Un archivo json (acr√≥nimo de *JavaScript Object Notation*) es un formato para guardar e intercambiar de forma estructurada (principalmente lo hace con una estructura de diccionario) y se utiliza principalmente para transferir datos de un servidor a un cliente. 

El archivo es b√°sicamente una alternativa m√°s simple y liviana al XML (Lenguaje de marcado extenso, por sus siglas en ingl√©s) que cuenta con funciones similares.

In [6]:
df_json = pd.read_json("files/residuos.json")
df_json.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

Pero esto no hay quien lo lea! Pero no os preocupeis, es muy f√°cil de convertir a algo m√°s humano:

In [15]:
# este c√≥digo no es necesario que lo entendamos ahora, m√°s adelante seg√∫n avancen las lecciones lo iremos entendiendo mejor!
df_json2 = df_json['data'].apply(pd.Series)
df_json2.head()

,residuos_pelig_cantidad_ton,residuos_pelig_a√±o,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperaci√≥n de disolventes
1,1927.25,2012,Reciclado,Recuperaci√≥n de metales
2,25333.54,2012,Reciclado,Regeneraci√≥n de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorizaci√≥n,Trituraci√≥n previa a valorizaci√≥n de bater√≠as
4,13109.74,2012,Tratamiento previo a otras formas de valorizaci√≥n,Operaciones previas a valorizaci√≥n de RAEE

## `pd.read_clipboard()`

<!-- Nos va a permitir leer el texto del portapapeles y lo pasa a `read_csv`. -->
Este m√©todo crea un DataFrame a partir de los datos copiados en el portapapeles. Lee el texto del portapapeles y lo pasa a `read_csv()` que luego devuelve un objeto DataFrame analizado.

[Aqu√≠](https://towardsdatascience.com/from-clipboard-to-dataframe-with-pandas-6c212b1d7ed8) teneis un art√≠culo muy interesante para entender esta forma de abrir ficheros 

Veamos paso a paso como funciona: 

1Ô∏è‚É£ Abrimos un excel y copiamos su contenido (pod√©is elegir cualquier excel que teng√°is en vuestro ordenador)

2Ô∏è‚É£ Vamos a nuestro jupyter y ejecutamos la siguiente l√≠nea de c√≥digo: 

```python
df_clip = pd.read_clipboard()
```

El par√°metro `sep` nos servir√° para especificar por que est√°n separadas cada fila y columna de nuestra tabla. En nuestro caso est√°n separados por tabulaciones que lo pondremos como `\t`. En caso de que sea salto de p√°gina lo haremos de la siguiente forma `\n`.

In [ ]:
df_clipboard = pd.read_clipboard(sep='\t')
df_clipboard.head(2)

In [ ]:
# lo mismo podemos hacer con un csv

df_clipboard2 = pd.read_clipboard()
df_clipboard2.head(2)

üö® Tambi√©n lo podremos hacer datos de p√°ginas webs üîù!!!

## `pd.read_pickle()`

Pickle (acr√≥nimo de *Python Pickle Format*) que fue desarrollado por Python. 

¬øQu√© es Pickle exactamente?

En Python, puede usar el pickle m√≥dulo para serializar objetos y guardarlos en un archivo. 

Pickle tiene una gran ventaja sobre otros formatos: puede usarlo para almacenar cualquier objeto de Python, como diccionarios, pandas, arrays, etc. Una de las funcionalidades m√°s utilizadas es guardar los modelos de *machine learning*. De esa manera, no tiene que volver a capacitar al modelo cada vez que ejecuta el script.

Tambi√©n se puede usar Pickle para almacenar matrices Numpy. Es una soluci√≥n obvia para establecer puntos de control de alg√∫n tipo en su c√≥digo.

¬øC√≥mo trabajar con Pickle en Python? üëáüèΩ

In [7]:
# lo primero que vamos a hacer es crearnos un dataframe

df_size = 10000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})

In [8]:
df.head()

          a         b         c         d         e
0  0.443547  0.827975  0.638653  0.210791  0.088069
1  0.016481  0.059117  0.533245  0.930535  0.876392
2  0.652192  0.081048  0.855742  0.417196  0.973549
3  0.744870  0.944315  0.748772  0.430316  0.066578
4  0.885536  0.442482  0.228949  0.170690  0.228150

In [9]:
# guardemoslo localmente 
%time # comando m√°gico que nos devuelve el tiempo que tarda en ejecutarse nuestro c√≥digo

with open('files/10M.pkl', 'wb') as f:
    pickle.dump(df, f)

CPU times: user 2 ¬µs, sys: 1 ¬µs, total: 3 ¬µs
Wall time: 4.05 ¬µs

Si ahora vamos a nuestra carpeta veremos que tenemos un nuevo fichero que se llama `10M.pkl`

In [6]:
# lo guardaremos tambi√©n como csv para ver que se carga m√°s r√°pido
%time
df.to_csv('files/10M.csv')

CPU times: user 2 ¬µs, sys: 0 ns, total: 2 ¬µs
Wall time: 4.77 ¬µs

**CSV frente a Pickle: ¬øcu√°l deber√≠a usar?**

Responder esta pregunta no es tan f√°cil como parece. Claro, los CSV brindan privilegios de visualizaci√≥n y edici√≥n, ya que cualquiera puede abrirlos. Eso tambi√©n podr√≠a considerarse una desventaja, por razones obvias. Adem√°s, no puede guardar modelos de aprendizaje autom√°tico en un archivo CSV.

A√∫n as√≠, comparemos los dos en tama√±o de archivo, tiempos de lectura y escritura.

- pickle es mucho m√°s r√°pido que el csv

In [7]:
%time
pd.read_pickle("files/10M.pkl").head(2)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 3.81 ¬µs

          a         b         c         d         e
0  0.651426  0.590879  0.478504  0.394484  0.353970
1  0.362076  0.976879  0.213517  0.404186  0.681437

In [8]:
%time
pd.read_csv("files/10M.csv", index_col = 0).head(2)

CPU times: user 2 ¬µs, sys: 0 ns, total: 2 ¬µs
Wall time: 3.58 ¬µs

          a         b         c         d         e
0  0.651426  0.590879  0.478504  0.394484  0.353970
1  0.362076  0.976879  0.213517  0.404186  0.681437

Aunque parece poco, el pickle se ha cargado mucho m√°s r√°pido que el csv. Imaginad como se puede notar esto cuando tengamos millones de datos!

## `pd.read_parquet()`

Los formatos de archivo para el intercambio de datos m√°s populares actualmente son CSV y Microsoft Excel. Este tipo de archivos pueden ser poco eficientes a la hora trabajar con grandes conjuntos de datos.

Como hemos visto CSV es un formato basado en archivos de texto plano, lo que permite su edici√≥n con cualquier editor de texto, sin la necesidad de emplear un programa espec√≠fico. Aunque esto tambi√©n se traduce en archivos de gran tama√±o y cuyo proceso es lento. 

Por otro lado, Microsoft Excel es un formato dise√±ado para trabajar con hojas de c√°lculo.

Actualmente, para poder trabajar de forma eficiente con grandes conjuntos de datos, se han dise√±ado nuevos formatos como Parquet que ofrece archivos m√°s peque√±os, lo que ofrece importantes ahorros a la hora de almacenar los datos, y cuyas operaciones de lectura y escritura son tambi√©n m√°s r√°pidas, lo que reduce el tiempo de procesado.

Apache Parquet es un formato de archivo para el almacenamiento de datos orientado a columnas de c√≥digo abierto del ecosistema Apache Hadoop. Por lo que es compatible con la mayor√≠a de *frameworks* para el procesado de datos. En este formato, los valores de cada columna se almacenan f√≠sicamente en posiciones contiguas, lo que consigue que la compresi√≥n de los datos sea m√°s eficiente al ser los datos contiguos similares. Permitiendo adem√°s usar diferentes t√©cnicas de compresi√≥n para cada columna, pudiendo adaptar esta al tipo de dato.

**Parquet en Pandas**

Pandas cuenta con herramientas para trabajar con archivos Parquet, por lo que no es necesario importar ning√∫n paquete adicional. Para importar archivos Parquet en objetos *DataFrame* de Pandas se puede recurrir a la funci√≥n `read_parquet()`, la cual funciona de manera similar a otras funciones `como read_csv()`. Adem√°s de esto los objetos DataFrame cuenta con la propiedad `to_parquet()`, con la que es posible volcar cualquier conjunto de datos en un archivo Parquet.

In [ ]:
%time
pd.read_parquet('files/10M.parquet')

In [ ]:
#!pip install pyarrow
#!pip install fastparquet

!pip3 install --upgrade pandas

**Diferencias entre `csv`, `pickle` y `parquet`**

- `CSV`

‚úÖ lectura humana  
‚úÖ en todas las plataformas  
‚õî m√°s lento  
‚õî m√°s espacio en disco  
‚õî no conserva los tipos en algunos casos  


- `PICKLE`

‚úÖ guardado/carga r√°pida  
‚úÖ menos espacio en disco  
‚õî no es legible para las personas  
‚õî s√≥lo para python  

- `PARQUET`: 

‚úÖ guardado/carga r√°pida  
‚úÖ menos espacio en disco que pickle  
‚úÖ suportado por muchas plataformas  
‚õî es menos legible para los humanos

## `pd.read_sas()`

Lee archivos SAS almacenados en formato XPORT o SAS7BDAT.

SAS es uno de los sistemas de an√°lisis avanzados m√°s populares, utilizado por muchas grandes empresas desde hace d√©cadas. Si queremos realizar alg√∫n an√°lisis utilizando un conjunto de datos SAS existente (un archivo de datos en SAS), podemos leer en Python utilizando la funci√≥n `read_sas`.

`read_sas()` toma unos pocos argumentos (la mayor√≠a de ellos viene con valores predefinidos que puedes alterar si es necesario). El √∫nico obligatorio es `file_path`. 

La sintaxis con los par√°metros m√°s importantes es: 

```python
pd.read_sas(nombre_fichero, format=None)
```

Donde:

- `nombre_fichero`: el nombre del fichero o el path al fichero. 


- `format`: por defecto None. 

    - Si es None, el formato del archivo se deduce de la extensi√≥n del mismo. 
    
    - Si es 'xport' o 'sas7bdat', utiliza el formato correspondiente.

    

[Aqu√≠](https://haven.tidyverse.org/reference/read_sas.html) ten√©is m√°s informaci√≥n sobre este m√©todo.

In [2]:
pd.read_sas('files/airline.sas7bdat', format = 'sas7bdat').head(2)

     YEAR      Y      W       R      L      K
0  1948.0  1.214  0.243  0.1454  1.415  0.612
1  1949.0  1.354  0.260  0.2181  1.384  0.559

## `pd.read_spss()`

SPSS es un formato que ofrece IBM para un an√°lisis completo. Es el acr√≥nimo de Producto de Estad√≠stica y Soluci√≥n de Servicio. SPSS se utiliza para una amplia gama de an√°lisis estad√≠sticos, como las estad√≠sticas descriptivas (por ejemplo medias, frecuencias), las estad√≠sticas bivariadas (por ejemplo an√°lisis de la varianza, prueba t), regresi√≥n, el an√°lisis de factores, y la representaci√≥n gr√°fica de los datos.


Este tipo de archivos es com√∫n en el √°mbito de la investigaci√≥n de mercados. A menudo √©stos est√°n disponibles como archivos SAV o SPSS. SPSS es ideal para el an√°lisis estad√≠stico de datos de encuestas porque las variables, las etiquetas de las variables, los valores y las etiquetas de los valores est√°n integrados en un conjunto de datos.

Desafortunadamente, SPSS es lento en sets de datos grandes y el sistema de macros para la automatizaci√≥n no es intuitivo y ofrece s√≥lo unas pocas opciones en comparaci√≥n con Python. Por lo tanto, no ser√° un tipo de archivo que nos encontremos habitualmente. 

`read_spss()` lee los datos de un archivo almacenado en formato SPSS `*.sav`. 

Devuelve un *DataFrame* y **nunca** convierte las variables de tipo *string* en factores. Tambi√©n prepara las etiquetas de los valores/variables de SPSS para trabajar con las funciones `val_lab`/`var_lab`. 

Ignora los valores nulos. 

Su sintaxis: 

```python
pd.read_spss(path, usecols=None, convert_categoricals=True)
```

Donde : 

- `path`: *string* ruta a nuestro archivo. 

- `usecols`: lista, opcional. Devuelve un subconjunto de las columnas. Si es `None`, devuelve todas las columnas.

- `convert_categoricals`: booleano, por defecto es `True`. Convierte las columnas categ√≥ricas en `pd.Categorical`.

# üìå Nota importante al leer archivos: 

Varias cosas pueden ir mal cuando se importan los datos a Pandas. Algunos de ellos son inmediatamente obvios; otros s√≥lo aparecen m√°s tarde, en formas confusas.

En este apartado veremos uno de los problemas m√°s comunes al cargar datos en Pandas - la codificaci√≥n de texto.

Las codificaciones de texto son conjuntos espec√≠ficos de reglas para mapear desde cadenas de bytes binarios sin procesar hasta caracteres que componen el texto legible por humanos. Python tiene soporte integrado para una lista de codificaciones est√°ndar.

Las discrepancias en la codificaci√≥n de caracteres son menos comunes hoy en d√≠a, ya que UTF-8 es la codificaci√≥n de texto est√°ndar en la mayor√≠a de los lenguajes de programaci√≥n, incluido Python. Sin embargo, definitivamente sigue siendo un problema si estamos intentando leer un archivo con una codificaci√≥n diferente a la que se escribi√≥ originalmente.

Otra codificaci√≥n com√∫n, pero menos √∫til, es la llamada Latin 1 o ISO-8859-1. Esta codificaci√≥n s√≥lo define formas de representar los caracteres del texto en el alfabeto latino est√°ndar. Se trata del alfabeto ingl√©s est√°ndar m√°s una serie de caracteres de otras lenguas europeas, incluidos los caracteres con acento.

La funci√≥n `read_csv()` de Pandas tiene una llamada de argumento `encoding` que le permite especificar una codificaci√≥n para usar al leer un archivo. Pandas asume que el texto est√° en formato UTF-8, porque es el m√°s com√∫n.

Os dejamos [aqu√≠](https://docs.python.org/3/library/codecs.html#standard-encodings) una lista con los principales tipos de *encoding* que podemos encontrarnos.

# Guardado de datos

Imaginemos ahora que hemos hecho algunos cambios en nuestro dataframe, por ejemplo quitar algunas columnas y que queremos guardar los cambios en nuestro ordenador. Pandas nos lo va a permitir para cada uno de los tipos de archivos que hemos estado viendo hasta ahora.

`to_csv`: guardaremos el archivo en formato csv. Normalmente con especificar el directorio y el nombre del fichero ser√° suficiente.

In [ ]:
# guardar en csv

df_csv2.to_csv("datos/datos_sincolumna.csv")

In [ ]:
# guardar en formato de excel

df_csv2.to_excel("datos/datos_sincolumna.xlsx")

In [ ]:
# guardar en formato json

df_csv2.to_json("datos/datos_sincolumna.json")

In [ ]:
# guardar en formato parquet

df_csv2.to_parquet("datos/datos_sincolumna.parquet")

In [ ]:
# guardar en formato pickle

df_csv2.to_pickle("datos/datos_sincolumna.pickle")

Aqu√≠ os dejamos algo de documentaci√≥n m√°s detallada de cada uno de los m√©todos: 

- [to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

- [to_excel](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)

- [to_json](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html)

- [to_parquet](https://pandas.pydata.org/pandas-docs/version/1.1/reference/api/pandas.DataFrame.to_parquet.html)

- [to_pickle](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_pickle.html)