# Métodos de *strings*

Dado el siguiente *string* 

```python

string = """Hoy estamos en una clase de repaso,
el objetivo es intentar solucionar todas vuestras dudas, 
preguntad todo lo que queráis! 
"""
```


Contesta a las siguientes preguntas:

1️⃣ Crea dos variables nuevas: 
    - Una con el *string* en mayúsculas
    - Otra con las letras en minúsculas

2️⃣ Pon todas las primeras letras del *string* en mayúscula

3️⃣ Separa el *string*  por los espacios y almacena el resultado en una lista llamanda `texto_lista`

4️⃣ De la lista obtenida en el ejercicio anterior, selecciona solo los 5 primero elementos y almacena los resultados en una variable que se llame `texto_lista_corta` 

5️⃣ De la lista obtenida en el ejercicio 5. Vuelve a convertirlo en *string* 

6️⃣ Con el *string* obtenido en el paso anterior: 

    - Esta la palabra "el" en el *string* 

    - Reemplaza "Hoy" por nada

    - El ejercicio anterior nos ha dejado espacios al inicio del string, eliminalos

In [2]:
string = """Hoy estamos en una clase de repaso,
el objetivo es intentar solucionar todas vuestras dudas, 
preguntad todo lo que queráis! 
"""

In [4]:
# 1️⃣ Convierte el *string* a mayúsculas y minúsculas

string_mayuscula = string.upper()
string_mayuscula

'HOY ESTAMOS EN UNA CLASE DE REPASO,\nEL OBJETIVO ES INTENTAR SOLUCIONAR TODAS VUESTRAS DUDAS, \nPREGUNTAD TODO LO QUE QUERÁIS! \n'

In [5]:
string_minuscula = string.lower()
string_minuscula

'hoy estamos en una clase de repaso,\nel objetivo es intentar solucionar todas vuestras dudas, \npreguntad todo lo que queráis! \n'

In [151]:
# 2️⃣ Pon todas las primeras letras del *string* en mayúscula

string.title()

'Hoy Estamos En Una Clase De Repaso,\nEl Objetivo Es Intentar Solucionar Todas Vuestras Dudas, \nPreguntad Todo Lo Que Queráis! \n'

In [8]:
# 3️⃣ Separa el *string*  por los espacios

texto_lista = string.split()
print(texto_lista)

['Hoy', 'estamos', 'en', 'una', 'clase', 'de', 'repaso,', 'el', 'objetivo', 'es', 'intentar', 'solucionar', 'todas', 'vuestras', 'dudas,', 'preguntad', 'todo', 'lo', 'que', 'queráis!']

In [9]:
# 4️⃣ De la lista obtenida en el ejercicio anterior, selecciona solo los 5 primero elementos. 


texto_lista_corta = texto_lista[:5]
texto_lista_corta

['Hoy', 'estamos', 'en', 'una', 'clase']

In [10]:
# 5️⃣ De la lista obtenida en el ejercicio 5. Vuelve a convertirlo en *string* 

string_corto = " ".join(texto_lista_corta)
string_corto

'Hoy estamos en una clase'

In [11]:
#6️⃣ Con el *string* obtenido en el paso anterior: 

# Esta la palabra "el" en el *string* 

string_corto.find("el")

-1

In [14]:
#6️⃣ Con el *string* obtenido en el paso anterior: 

# Reemplaza "Hoy" por nada

string_corto = string_corto.replace("Hoy", "") 
string_corto

' estamos en una clase'

In [17]:
#6️⃣ Con el *string* obtenido en el paso anterior: 

# El ejercicio anterior nos ha dejado espacios al inicio del string, eliminalos

string_corto = string_corto.strip()
string_corto

'estamos en una clase'

# Listas

1️⃣ Definid dos listas de 8 elementos con números aleatorios del 1-20 que se llamen `lista1` y `lista2` 

2️⃣ Ordena la lista1 de menor a mayor, sobreescribiendo la lista

3️⃣ Ordena la lista2 de mayor a menor, sobreescribiendo la lista

4️⃣ Elimina el último elemento de la lista1

5️⃣ Elimina el tercer elemento de la lista2

6️⃣ Une las dos listas anteriores, obteniendo una lista de listas (llamadla lista_completa1). Sin sobreescibir ninguna de las listas

7️⃣ Une las dos listas anteriores, obteniendo una lista de números (llamadla lista_completa2). Sin sobreescibir ninguna de las listas


8️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista de listas. EL resultado debe ser una lista de listas

9️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista con numeros.

1️⃣0️⃣ Dada la siguiente lista: 

```python

informacion = ["Adalab", [3,4,5,89,12,55,67,19] , "comida", {"saludo": "buenos dias", "dias": 4, "gente": ["Laura", "Lorena"]}, 345, ["Almudena", "Lorena", "Maria", "Monica", "Sonia"]]
```


- Accede al saludo del diccionario

- Accede a todos los elementos que no sean diccionarios o listas

- Accede a todos los elementos que  sean diccionarios o listas

- Basándose en el resultado del ejercicio anterior, extrae el valor de "Maria"

- Cual es el índice de "Laura" dentro del diccionario


1️⃣1️⃣ Usando la lista anterior, añade el siguiente diccionario en primera posición. 

```python
nuevo_diccionario = {"comida": ["brocoli", "chorizo"], "precios" :[1.35, 23]}
```


1️⃣2️⃣ Ordena la siguiente lista sin sobreescribirla

```python
lista_numeros = [3,6,23,9,2,77,14]
```

In [93]:
import random

In [137]:
# 1️⃣ Definid dos listas de 8 elementos con números aleatorios del 1-20
lista1 = random.sample(range(1, 20), 8)
lista2 = random.sample(range(1,20), 8)

In [138]:
lista1

[10, 3, 14, 18, 11, 1, 4, 17]

In [139]:
lista2

[4, 5, 3, 18, 7, 11, 16, 1]

In [140]:
# 2️⃣ Ordena la lista1 de menor a mayor
lista1.sort()
lista1

[1, 3, 4, 10, 11, 14, 17, 18]

In [141]:
# 3️⃣ Ordena la lista2 de mayor a menor

lista2.sort(reverse = True)
lista2

[18, 16, 11, 7, 5, 4, 3, 1]

In [142]:
# 4️⃣ Elimina el último elemento de la lista1
lista1.pop()

18

In [143]:
lista1

[1, 3, 4, 10, 11, 14, 17]

In [144]:
# 5️⃣ Elimina el tercer elemento de la lista2
lista2

[18, 16, 11, 7, 5, 4, 3, 1]

In [145]:
lista2.pop(2)

11

In [146]:
# 6️⃣ Une las dos listas anteriores, obteniendo una lista de listas (llamadla lista_completa1)

lista_completa1 = [lista1, lista2]
lista_completa1

[[1, 3, 4, 10, 11, 14, 17], [18, 16, 7, 5, 4, 3, 1]]

In [148]:
lista1.append(lista2)

In [149]:
print(lista1)

[1, 3, 4, 10, 11, 14, 17, 1, [18, 16, 7, 5, 4, 3, 1]]

In [134]:
# 7️⃣ Une las dos listas anteriores, obteniendo una lista de números (llamadla lista_completa2)

lista_completa2 = lista1 + lista2
lista_completa2

[1,
 2,
 4,
 8,
 11,
 14,
 16,
 1,
 [18, 16, 13, 12, 11, 10, 1],
 18,
 16,
 13,
 12,
 11,
 10,
 1]

In [156]:
# 8️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista de listas. EL resultado debe ser una lista de listas

numeros1 = [23,45,67,98]
numeros2 = [23,55,67,12]

In [160]:
numeros1.append(numeros2)

In [159]:
numeros1

[23, 45, 67, 98, [23, 55, 67, 12]]

In [161]:
# 9️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista con numeros.
numeros3 = [34,56,78,23]
numeros4 = [22, 73, 90, 19]

In [162]:
numeros3.extend(numeros4)

In [163]:
numeros3

[34, 56, 78, 23, 22, 73, 90, 19]

In [170]:
# 1️⃣0️⃣ dada la siguiente lista


informacion = ["Adalab", [3,4,5,89,12,55,67,19] , "comida", {"saludo": "buenos dias", "dias": 4, "gente": ["Laura", "Lorena"]}, 345, ["Almudena", "Lorena", "Maria", "Monica", "Sonia"]]

In [167]:
# accede al saludo del diccionario

informacion[2]["saludo"]

'buenos dias'

In [172]:
# accede a todos los elementos que no sean diccionarios o listas

informacion[::2]

['Adalab', 'comida', 345]

In [173]:
# accede a todos los elementos que  sean diccionarios o listas

informacion[1::2]

[[3, 4, 5, 89, 12, 55, 67, 19],
 {'saludo': 'buenos dias', 'dias': 4, 'gente': ['Laura', 'Lorena']},
 ['Almudena', 'Lorena', 'Maria', 'Monica', 'Sonia']]

In [175]:
# basandose en el resultado del ejercicio anterior, extrae el valor de "Maria"

informacion[1::2][-1][2]

'Maria'

In [179]:
# cual es el índice de "Laura" dentro del diccionario

informacion[3]["gente"].index("Laura")

0

In [180]:
# 1️⃣1️⃣ Usando la lista anterior, añade el siguiente diccionario en primera posición. 
nuevo_diccionario = {"comida": ["brocoli", "chorizo"], "precios" :[1.35, 23]}

In [181]:
informacion.insert(0, nuevo_diccionario)

In [182]:
informacion

[{'comida': ['brocoli', 'chorizo'], 'precios': [1.35, 23]},
 'Adalab',
 [3, 4, 5, 89, 12, 55, 67, 19],
 'comida',
 {'saludo': 'buenos dias', 'dias': 4, 'gente': ['Laura', 'Lorena']},
 345,
 ['Almudena', 'Lorena', 'Maria', 'Monica', 'Sonia']]

In [184]:
# 1️⃣2️⃣ Ordena la lista "informacion" sin sobreescribirla

lista_numeros = [3,6,23,9,2,77,14]

In [185]:
sorted(lista_numeros)

[2, 3, 6, 9, 14, 23, 77]

In [186]:
lista_numeros

[3, 6, 23, 9, 2, 77, 14]

In [187]:
lista_numeros_ordenada = sorted(lista_numeros)
lista_numeros_ordenada

[2, 3, 6, 9, 14, 23, 77]

# Diccionarios

Dado el siguiente diccionario: 

```python
diccionario = {'nombre' : 'Laura', 
                'edad' : 22, 
                'cursos': ['Python','Django','JavaScript'] }

```

Contestad a las siguientes preguntas: 

1️⃣ ¿Cuáles son las *keys* del diccionario?

2️⃣ ¿Cuáles son los *values* del diccionario?

3️⃣ ¿Cuáles son los tipos de los datos de los *values*?

4️⃣ Actualiza el *value* de la *key* nombre por "Amanda"

5️⃣ Añadid una *key* nueva al diccionario que se llame "experiencia" cuyo value sea 2

6️⃣ Cambia los values de todas las keys para añadir a la siguiente persona

```python
nombre: "Aroa"
edad : 33
cursos: ["Python", "SQL", "C++"]
```
7️⃣ Buscad la *key* "estudios". En caso de que no este, creadla con el valor ["Bachillerato", "Universitario"]


8️⃣ Eliminad la *key* cursos del diccionario

9️⃣ Eliminad la última *key*  del diccionario

In [58]:
diccionario = {'nombre' : 'Laura', 
                'edad' : 22, 
                'cursos': ['Python','Django','JavaScript'] }

In [59]:
# 1️⃣ ¿Cuáles son las *keys* del diccionario?

diccionario.keys()

dict_keys(['nombre', 'edad', 'cursos'])

In [60]:
# 2️⃣ ¿Cuáles son los *values* del diccionario?

diccionario.values()

dict_values(['Laura', 22, ['Python', 'Django', 'JavaScript']])

In [61]:
# 3️⃣ Cuáles son los tipos de los datos de los *values*?

In [62]:
type(list(diccionario.values())[0])

str

In [63]:
type(list(diccionario.values())[1])

int

In [64]:
type(list(diccionario.values())[2])

list

In [65]:
# 4️⃣ Actualiza el *value* de la *key* nombre por "Amanda"

diccionario["nombre"] = "Amanda"

In [66]:
diccionario

{'nombre': 'Amanda', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}

In [67]:
# 5️⃣ Añadid una *key* nueva al diccionario que se llame "experiencia" cuyo value sea 2

diccionario.update({"experiencia": 2})

In [68]:
diccionario

{'nombre': 'Amanda',
 'edad': 22,
 'cursos': ['Python', 'Django', 'JavaScript'],
 'experiencia': 2}

In [69]:
# 6️⃣ Cambia los values de todas las keys para añadir a la siguiente persona

"""
nombre: "Aroa"
edad : 33
cursos: ["Python", "SQL", "C++"]
experiencia: 15
"""

'\nnombre: "Aroa"\nedad : 33\ncursos: ["Python", "SQL", "C++"]\nexperiencia: 15\n'

In [70]:
# lo primero que tenemos que hacer es modifciar el diccionario
diccionario = {'nombre' : ['Laura'], 
                'edad' : [22], 
                'cursos': [['Python','Django','JavaScript']], 
                'experiencia': [2] }

In [71]:
diccionario["nombre"].append("Aroa")
diccionario["edad"].append(33)
diccionario["cursos"].append(["Python", "SQL", "C++"])
diccionario["experiencia"].append(15)

In [72]:
diccionario

{'nombre': ['Laura', 'Aroa'],
 'edad': [22, 33],
 'cursos': [['Python', 'Django', 'JavaScript'], ['Python', 'SQL', 'C++']],
 'experiencia': [2, 15]}

In [73]:
# 7️⃣ Buscad la *key* "estudios". En caso de que no este, creadla con el valor ["Bachillerato", "Universitario"]

diccionario.setdefault("estudios", ["Bachillerato", "Universitarios"])

['Bachillerato', 'Universitarios']

In [74]:
diccionario

{'nombre': ['Laura', 'Aroa'],
 'edad': [22, 33],
 'cursos': [['Python', 'Django', 'JavaScript'], ['Python', 'SQL', 'C++']],
 'experiencia': [2, 15],
 'estudios': ['Bachillerato', 'Universitarios']}

In [88]:
diccionario["experiencia"].sort()

In [89]:
diccionario

{'nombre': ['Laura', 'Aroa'],
 'edad': [22, 33],
 'cursos': [['Python', 'Django', 'JavaScript'], ['Python', 'SQL', 'C++']],
 'experiencia': [2, 15],
 'estudios': ['Bachillerato', 'Universitarios']}

In [90]:
# 8️⃣ Eliminad la *key* cursos del diccionario

diccionario.pop("cursos")

[['Python', 'Django', 'JavaScript'], ['Python', 'SQL', 'C++']]

In [188]:
diccionario

{'nombre': ['Laura', 'Aroa'], 'edad': [22, 33], 'experiencia': [2, 15]}

In [91]:
# 9️⃣ Eliminad la última *key*  del diccionario
diccionario.popitem()

('estudios', ['Bachillerato', 'Universitarios'])

In [92]:
diccionario

{'nombre': ['Laura', 'Aroa'], 'edad': [22, 33], 'experiencia': [2, 15]}