# Métodos de *strings*

Dado el siguiente *string* 

```python

string = """Hoy estamos en una clase de repaso,
el objetivo es intentar solucionar todas vuestras dudas, 
preguntad todo lo que queráis! 
"""
```


Contesta a las siguientes preguntas:

1️⃣ Crea dos variables nuevas: 
    - Una con el *string* en mayúsculas
    - Otra con las letras en minúsculas

2️⃣ Pon todas las primeras letras del *string* en mayúscula

3️⃣ Separa el *string*  por los espacios y almacena el resultado en una lista llamanda `texto_lista`

4️⃣ De la lista obtenida en el ejercicio anterior, selecciona solo los 5 primero elementos y almacena los resultados en una variable que se llame `texto_lista_corta` 

5️⃣ De la lista obtenida en el ejercicio 5. Vuelve a convertirlo en *string* 

6️⃣ Con el *string* obtenido en el paso anterior: 

    - Esta la palabra "el" en el *string* 

    - Reemplaza "Hoy" por nada

    - El ejercicio anterior nos ha dejado espacios al inicio del string, eliminalos

In [2]:
string = """Hoy estamos en una clase de repaso,
el objetivo es intentar solucionar todas vuestras dudas, 
preguntad todo lo que queráis! 
"""

In [3]:
#1 string en mayusculas y en minusculas
string_mayus = string.upper()
string_minus =string.lower()
print (string_mayus)
print (string_minus)

HOY ESTAMOS EN UNA CLASE DE REPASO,
EL OBJETIVO ES INTENTAR SOLUCIONAR TODAS VUESTRAS DUDAS,
PREGUNTAD TODO LO QUE QUERÁIS!

hoy estamos en una clase de repaso,
el objetivo es intentar solucionar todas vuestras dudas,
preguntad todo lo que queráis!

In [4]:
#2 La primera de cada palabra del string en mayuscula
string_title = string.title()
print (string_title)

Hoy Estamos En Una Clase De Repaso,
El Objetivo Es Intentar Solucionar Todas Vuestras Dudas,
Preguntad Todo Lo Que Queráis!

In [5]:
#3 separa el string por espacios y guardalo en texto_lista
texto_lista = string.split()
print (texto_lista)

['Hoy', 'estamos', 'en', 'una', 'clase', 'de', 'repaso,', 'el', 'objetivo', 'es', 'intentar', 'solucionar', 'todas', 'vuestras', 'dudas,', 'preguntad', 'todo', 'lo', 'que', 'queráis!']

In [6]:
#5 De la lista obtenida en el ejercicio anterior, selecciona solo los 5 primero elementos y almacena los resultados en una variable que se llame `texto_lista_corta` 
texto_lista_corta = texto_lista [:5]
print (texto_lista_corta)

['Hoy', 'estamos', 'en', 'una', 'clase']

In [7]:
#6 De la lista obtenida en el ejercicio 5. Vuelve a convertirlo en *string* 
string_corto = ' '.join(texto_lista_corta)
print (string_corto)

Hoy estamos en una clase

In [8]:
#7 Con el *string* obtenido en el paso anterior: 
#     - Esta la palabra "el" en el *string* 
#     - Reemplaza "Hoy" por nada
#     - El ejercicio anterior nos ha dejado espacios al inicio del string, eliminalos

print ('el' in string_corto)
string_corto.replace ('Hoy', ' ').strip()
print (string_corto)

False
Hoy estamos en una clase

# Listas

1️⃣ Definid dos listas de 8 elementos con números aleatorios del 1-20 que se llamen `lista1` y `lista2` 

2️⃣ Ordena la lista1 de menor a mayor, sobreescribiendo la lista

3️⃣ Ordena la lista2 de mayor a menor, sobreescribiendo la lista

4️⃣ Elimina el último elemento de la lista1

5️⃣ Elimina el tercer elemento de la lista2

6️⃣ Une las dos listas anteriores, obteniendo una lista de listas (llamadla lista_completa1). Sin sobreescibir ninguna de las listas

7️⃣ Une las dos listas anteriores, obteniendo una lista de números (llamadla lista_completa2). Sin sobreescibir ninguna de las listas


8️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista de listas. EL resultado debe ser una lista de listas

9️⃣ Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista con numeros.

1️⃣0️⃣ Dada la siguiente lista: 

```python

informacion = ["Adalab", [3,4,5,89,12,55,67,19] , "comida", {"saludo": "buenos dias", "dias": 4, "gente": ["Laura", "Lorena"]}, 345, ["Almudena", "Lorena", "Maria", "Monica", "Sonia"]]
```


- Accede al saludo del diccionario

- Accede a todos los elementos que no sean diccionarios o listas

- Accede a todos los elementos que  sean diccionarios o listas

- Basándose en el resultado del ejercicio anterior, extrae el valor de "Maria"

- Cual es el índice de "Laura" dentro del diccionario


1️⃣1️⃣ Usando la lista anterior, añade el siguiente diccionario en primera posición. 

```python
nuevo_diccionario = {"comida": ["brocoli", "chorizo"], "precios" :[1.35, 23]}
```


1️⃣2️⃣ Ordena la siguiente lista sin sobreescribirla

```python
lista_numeros = [3,6,23,9,2,77,14]
```

In [9]:
#Definid dos listas de 8 elementos con números aleatorios del 1-20 que se llamen `lista1` y `lista2` 
import random
lista1 = random.sample(range(1,21), 8)
lista2 = random.sample(range(1,21), 8)

In [10]:
print (lista1)
print (lista2)

[5, 9, 12, 13, 2, 3, 18, 15]
[5, 12, 16, 13, 20, 6, 8, 19]

In [16]:
# Ordena la lista1 de menor a mayor, sobreescribiendo la lista
lista1.sort()
print (lista1)
# Ordena la lista2 de mayor a menor, sobreescribiendo la lista
lista2.sort(reverse = 1)
print (lista2)

[2, 3, 5, 9, 12, 13, 15, 18]
[20, 19, 16, 13, 12, 8, 6, 5]

In [17]:
#Elimina el último elemento de la lista1
lista1.pop()
print (lista1)

#Elimina el tercer elemento de la lista2
lista2.pop(2)
print (lista2)

[2, 3, 5, 9, 12, 13, 15]
[20, 19, 13, 12, 8, 6, 5]

In [19]:
# Une las dos listas anteriores, obteniendo una lista de listas (llamadla lista_completa1). Sin sobreescibir ninguna de las listas
lista_completa1 = lista1, lista2
print (lista_completa1)

([2, 3, 5, 9, 12, 13, 15], [20, 19, 13, 12, 8, 6, 5])

In [20]:
# Une las dos listas anteriores, obteniendo una lista de números (llamadla lista_completa2). Sin sobreescibir ninguna de las listas

lista_completa2 = lista1 + lista2
print (lista_completa2)

[2, 3, 5, 9, 12, 13, 15, 20, 19, 13, 12, 8, 6, 5]

In [22]:
# Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista de listas. EL resultado debe ser una lista de listas
lista3 = random.sample(range(1,21), 8)
lista4 = random.sample(range(1,21), 8)

lista_listas = lista3, lista4
print (lista_listas)

([15, 13, 11, 2, 6, 3, 1, 17], [9, 2, 10, 15, 1, 5, 4, 17])

In [23]:
# Cread dos listas nuevas con los números que queráis. Une las dos listas anteriores, obteniendo una lista con numeros.
lista_numeros = lista3 + lista4
print (lista_numeros)

[15, 13, 11, 2, 6, 3, 1, 17, 9, 2, 10, 15, 1, 5, 4, 17]

In [24]:
# Dada la siguiente lista: 

informacion = ["Adalab", 
            [3,4,5,89,12,55,67,19] , 
            "comida", 
            {"saludo": "buenos dias", "dias": 4, "gente": ["Laura", "Lorena"]},
             345, 
             ["Almudena", "Lorena", "Maria", "Monica", "Sonia"]]

In [25]:
# Accede al saludo del diccionario
informacion [3] ['saludo']

'buenos dias'

In [26]:
# Accede a todos los elementos que no sean diccionarios o listas
informacion [::2]

['Adalab', 'comida', 345]

In [27]:
# Accede a todos los elementos que sean diccionarios o listas
informacion [1::2]

[[3, 4, 5, 89, 12, 55, 67, 19],
 {'saludo': 'buenos dias', 'dias': 4, 'gente': ['Laura', 'Lorena']},
 ['Almudena', 'Lorena', 'Maria', 'Monica', 'Sonia']]

In [35]:
#Basándose en el resultado del ejercicio anterior, extrae el valor de "Maria"
informacion[-1][2]

'Maria'

In [36]:
#Cual es el índice de "Laura" dentro del diccionario
informacion [3]['gente'].index('Laura')

0

In [38]:
#11 Usando la lista anterior, añade el siguiente diccionario en primera posición. 
nuevo_diccionario = {"comida": ["brocoli", "chorizo"], "precios" :[1.35, 23]}
informacion.insert(0,nuevo_diccionario)
informacion

[{'comida': ['brocoli', 'chorizo'], 'precios': [1.35, 23]},
 'Adalab',
 [3, 4, 5, 89, 12, 55, 67, 19],
 'comida',
 {'saludo': 'buenos dias', 'dias': 4, 'gente': ['Laura', 'Lorena']},
 345,
 ['Almudena', 'Lorena', 'Maria', 'Monica', 'Sonia']]

In [42]:
# 12Ordena la siguiente lista sin sobreescribirla

lista_numeros = [3,6,23,9,2,77,14]
sorted(lista_numeros)

[2, 3, 6, 9, 14, 23, 77]

# Diccionarios

Dado el siguiente diccionario: 

```python
diccionario = {'nombre' : 'Laura', 
                'edad' : 22, 
                'cursos': ['Python','Django','JavaScript'] }

```

Contestad a las siguientes preguntas: 

1️⃣ ¿Cuáles son las *keys* del diccionario?

2️⃣ ¿Cuáles son los *values* del diccionario?

3️⃣ ¿Cuáles son los tipos de los datos de los *values*?

4️⃣ Actualiza el *value* de la *key* nombre por "Amanda"

5️⃣ Añadid una *key* nueva al diccionario que se llame "experiencia" cuyo value sea 2

6️⃣ Cambia los values de todas las keys para añadir a la siguiente persona

```python
nombre: "Aroa"
edad : 33
cursos: ["Python", "SQL", "C++"]
```
7️⃣ Buscad la *key* "estudios". En caso de que no este, creadla con el valor ["Bachillerato", "Universitario"]


8️⃣ Eliminad la *key* cursos del diccionario

9️⃣ Eliminad la última *key*  del diccionario

In [36]:
diccionario = {'nombre' : 'Laura', 
                'edad' : 22, 
                'cursos': ['Python','Django','JavaScript'] }

In [29]:
#1 Cuáles son las *keys* del diccionario?
print (diccionario.keys())
#2 ¿Cuáles son los *values* del diccionario?
print (diccionario.values())

dict_keys(['nombre', 'edad', 'cursos'])
dict_values(['Laura', 22, ['Python', 'Django', 'JavaScript']])

In [37]:
#3 ¿Cuáles son los tipos de los datos de los *values*?
print('El tipo de la key nombre es:', type(diccionario['nombre']))
print('El tipo de la key edad es:',type(diccionario['edad']))
print('El tipo de la key cursos es:', type(diccionario['cursos']))

El tipo de la key nombre es: <class 'str'>
El tipo de la key edad es: <class 'int'>
El tipo de la key cursos es: <class 'list'>

In [38]:
#4 Actualiza el *value* de la *key* nombre por "Amanda"
diccionario ['nombre'] = 'Amanda'
diccionario

{'nombre': 'Amanda', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}

In [39]:
# 5 Añadid una *key* nueva al diccionario que se llame "experiencia" cuyo value sea 2
diccionario  ['experiencia'] = 2
diccionario

{'nombre': 'Amanda',
 'edad': 22,
 'cursos': ['Python', 'Django', 'JavaScript'],
 'experiencia': 2}

In [40]:
#6 Cambia los values de todas las keys para añadir a la siguiente persona
diccionario.update({'nombre': "Aroa", 'edad' : 33, 'cursos' : ["Python", "SQL", "C++"]})
print (diccionario)

{'nombre': 'Aroa', 'edad': 33, 'cursos': ['Python', 'SQL', 'C++'], 'experiencia': 2}

In [44]:
# Buscad la *key* "estudios". En caso de que no este, creadla con el valor ["Bachillerato", "Universitario"]
diccionario.setdefault ('estudios',["Bachillerato", "Universitario"])
print (diccionario)

{'nombre': 'Aroa', 'edad': 33, 'cursos': ['Python', 'SQL', 'C++'], 'experiencia': 2, 'estudios': ['Bachillerato', 'Universitario']}

In [45]:
#Eliminad la *key* cursos del diccionario
diccionario.pop('cursos')
print (diccionario)

{'nombre': 'Aroa', 'edad': 33, 'experiencia': 2, 'estudios': ['Bachillerato', 'Universitario']}

In [46]:
#Eliminad la última *key*  del diccionario
diccionario.popitem()
print (diccionario)

{'nombre': 'Aroa', 'edad': 33, 'experiencia': 2}